Atlassian_BASE_URL=https://<path>.atlassian.net
Atlassian_EMAIL=<REPLACE_WITH_YOUR_ATLASSIAN_EMAIL>
Atlassian_API_TOKEN=<REPLACE_WITH_YOUR_ATLASSIAN_API_TOKEN>
Atlassian_CLOUD=true
GROQ_API_KEY=<REPLACE_WITH_YOUR_GROQ_API_KEY>
LLM_MODEL=openai/gpt-oss-120b